<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}YUM YUM!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
